@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Noto Sans', sans-serif;
    background-color: #c2b2a9;
}

h1 {
    font-size: 2.8rem;
    color: #2b2725;
    text-align: center;
}

h2 {
    font-size: 2.3rem;
    color: #2b2725;
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}


body {
    margin-bottom: 60px;
}

footer p {
    text-align: center;
    color: #2b2725;
}

#blazor-error-ui{
    display: none;
}

p {
    font-size: 1.6rem;
    color: #2b2725;
}

li {
    font-size: 1.6rem;
    color: #2b2725;
}

a {
    color: #2b2725;
}

label {
    font-size: 1.6rem;
    color: #2b2725;
}

.calculate {
    background-color: white;
    max-width: 500px;
    width: 100%;
    padding: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

input[type="button"] {
    background-color: #c20148;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
color: white;
font-weight: bold;
cursor: pointer;
    padding: 1rem;
    border: none;
}

    input[type="number"]{
        padding: 1rem;
    }

    .flexform {
        display: flex;
        justify-content: space-evenly;
    }

.active {
    font-weight: bold;
}
/*Flexbox för layouten*/
.flexbox {
    display: flex;
    justify-content: space-between;
}

.content {
    max-width: 95%;
    margin: auto;
}


.flex-header {
    display: flex;
    justify-content: space-between;
}

.logo-small{
    max-width: 100px;
    margin: auto;
    display:block;
    margin-top: 8rem;
}

ul {
    list-style-type: none;
}

.main {
    max-width: 80%;
    width: 100%;
    padding: 1rem;
    background-color: #F4F3EE;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.flex-nav {
    max-width: 15%;
    width: 100%;
    background-color: #F4F3EE;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    height: 50vh;
}

footer {
    position: absolute;
    bottom: 0;
    margin: auto;
    max-width: 95vw;
    width: 100%;
    background-color: #DDD4CF;
}

nav ul {
    max-width: 150px;
    width: 100%;
}

nav li {
    margin-top: 2rem;
    border-bottom: 1px solid groove;
}

nav a{
    text-decoration: none;
}

table {
    border-collapse: collapse;
    max-width: 900px;
    width: 100%;
    text-align: center;
    margin: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: white;
}

tr {
    border-bottom: 1px solid #c2b2a9;
}

thead {
    background-color: #c2b2a9;
}

.table-h2{
    text-align:center;
    font-size: 2.4rem;
}

td {
    padding: 1rem;
}

th{
    font-size: 1.8rem;
}

td{
    font-size: 1.6rem;
}

.mobile-nav{
    display: none;
}

.scroll{
    overflow-x: auto;
}

@media all and (max-width: 1050px) {
    .flex-nav {
        display: none;
    }

    .main{
        max-width: 95vw;
        width: 100%;
    }

    .mobile-nav{
        display: block;
    }
}

@media all and (max-width: 800px){

    .flexform {
        flex-direction: column;
    }

    form{
        margin: auto;
        display: block;
    }

    .flexform h2{
        text-align: center;
    }

    input[type="number"]{
        max-width:300px;
        width: 100%;
    }
}

