<h3>Om uppgiften</h3>

@code {

}

<article>
<p>I denna uppgift har en webbplats skapats med Blazor WebAssembly. Webbplatsen har skapats med egen HTML och CSS, och all programmering har skapats med C#-kod</p>
</article>