@inherits LayoutComponentBase

  <div class="content">
        <header>
            <div class="flex-header">
            <NavLink href="/" Match="NavLinkMatch.All">
            <img src="/Blazorlogo.svg" class="logo" />
            </NavLink>
            </div>
            <MobileNav />
        </header>
        <div class="flexbox">
            <div class="flex-nav">
            <!--Navigering-->
            <NavMenu />
            </div>

        <!-- Här skrivs huvudinnehållet ut -->
        <div class="main box-shadow">
            <main>
            @Body
            </main>
        </div>
    </div>

    <footer class="border-top footer">
        <p>Av Emma Forslund.Kontakta mig via e-post: emfo2102@student.miun.se</p>
    </footer>
</div>
