<nav class="desktop-nav">
    <ul>
        <li>
            <NavLink href="/" Match="NavLinkMatch.All">Start</NavLink>
        </li>
        <li>
            <NavLink href="json">JSON</NavLink>
        </li>
        <li>
            <NavLink href="converter">Konvertering</NavLink>
        </li>
    </ul>
    <NavLink href="/" Match="NavLinkMatch.All">
        <img src="/Blazorlogo.svg" class="logo-small" />
    </NavLink>
</nav>