@page "/converter"

<h1>Konvertering</h1>


<!--Flexcontainer-->
<div class="flexform">
    <div>

        <!--Meter till fot-->
        <h2>Meter till fot</h2>
        <!--Formulär meter till fot-->
        <form class="calculate">
            <label for="meter">Meter:</label>
            <input type="number" name="meter" id="meter" @bind="meters" />
            <input type="button" @onclick="CalculateFeet" value="Beräkna">
            <p><b>Resultat</b>: @meters meter = @feet fot</p>
        </form>
    </div>

    <!-- Km/h till mile/hour-->
    <div>
        <h2>
            Km/h till mile/hour
        </h2>
        <!--Formulär km/h till mile/hour-->
        <form class="calculate">
            <label for="km">Km/h</label>
            <input type="number" name="km" id="km" @bind="kilometers" />
            <input type="button" @onclick="CalculateMiles" value="Beräkna">
            <p><b>Resultat</b>: @kilometers km/h = @miles mile/hour</p>
        </form>
    </div>
</div>


@code {
    private double feet;
    private double meters = 0;

    private void CalculateFeet()
    {

        feet = 3.2808399 * meters;

        feet = Math.Round(feet, 2);

    }

    private double kilometers = 0;
    private double miles;

    private void CalculateMiles()
    {

        miles = (kilometers * 0.6213712);

        miles = Convert.ToInt32(miles);

    }

}

